
<%- include("partials/header"); -%>
<div id="heading1">
      <h1 class="fw-bold">C Language</h1>
  </div>
  <div class="fromintro">
      <h2 class="text-center fw-bold">Introduction:</h2>
      <h4>The history of the C programming language is closely tied to the history of the development of the Unix Operating System.

        If we look back to understand what led to the development of the operating system that changed the world of computing, we'll see the steps that led to the development of C.
        
        Simply put, C was derived from the need to initially find and eventually create a language to apply on the Unix Operating system.</h4>
        <ol><li>
            <h4>It is one of the most popular programming language in the world</h4>
            
        </li>
    <li>
        <h4>If you know C, you will have no problem learning other popular programming languages such as Java, Python, C++, C#, etc, as the syntax is similar</h4>
    </li>
<li>
    <h4> C is very fast, compared to other programming languages, like Java and Python</h4>
</li>
<li>
    <h4> C is very versatile; it can be used in both applications and technologies</h4>
</li></ol>
      <img class="rounded mx-auto d-block"
          src="https://th.bing.com/th/id/OIP.w9AIOO6Cfup6aToV1E-dEQHaIr?pid=ImgDet&rs=1" width="300px" height="300px">
      <div class="questions">
          <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
              <div class="col ttxxtt">
                  <h3 class="fw-bold">What is C?</h3>
                  <h4>
                      C (pronounced like the letter c) is a general-purpose computer programming language. It was created in the 1970s by Dennis Ritchie, and remains very widely used and influential</h4>
              </div>
              <div class="col ttxxtt imgg">
                  <img width="300px" height="300px" src="https://cdn.educba.com/academy/wp-content/uploads/2019/04/What-is-C.jpg" alt="hii">
              </div>
          </div>

          <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
              <div class="col ttxxtt">
                  <h3 class="fw-bold">C is Fun!!</h3>
                  <h4>The C language is one of the most popular programming language of all time, due to its simplicity and easy to understand features and functions it is used and utilize on the global platforms.</h4>
              </div>
              <div class="col ttxxtt imgg">
                  <img width="300px" height="300px" src="https://fossbytes.com/wp-content/uploads/2016/11/C-Language-Name.png"
                      alt="hii">
              </div>
          </div>

          <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
              <div class="col ttxxtt">
                  <h2 class="fw-bold">Why C?</h2>
                  <h4>C is an easy and simple language that is easy to use, and the written code in C is fast, meaning that the language is fast to execute.
                      C is structured programming, and in C, we create functions and manage our code well.</h4>
              </div>
              <div class="col ttxxtt imgg">
                  <img width="300px" height="300px" src="https://i1.wp.com/onaircode.com/wp-content/uploads/2019/07/why-c.jpg?fit=1280%2C774&ssl=1"
                      alt="hii">
              </div>
          </div>
      </div>
  </div>
  <div>

  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
      <br><br>
      <a href="https://www.w3schools.com/c/"><h3> Click here for more information</h3></a>
<%- include("partials/footer"); -%>