
<%- include("partials/header"); -%>
<div class="row">
    <div class="col-lg-6">
      <h1 class="statement" >Coding Kids</h1>
      <h4>Coding, sometimes called computer programming, is how we communicate with computers. Code tells a computer what actions to take, and writing code is like creating a set of instructions. By learning to write code, you can tell computers what to do or how to behave in a much faster way. You can use this skill to make websites and apps, process data, and do lots of other cool things</h4>
      <button style="display:in-block;"type="submit" class="btn btn-dark"><a class="btn btn-dark btn-lg" href="/register" role="button">Register</a></button>
        <button style="display:in-block;"type="submit" class="btn btn-dark"><a class="btn btn-dark btn-lg" href="/login" role="button">Login</a></button>
    </div>
    <div class="col-lg-6 hello">
      <img class="world" src="/helloworld.png" alt="image">
    </div>
  </div>

  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <img style="height:300px;width:300px;border-radius:100%" src="https://longislandweekly.com/wp-content/uploads/2016/03/Coding_A.jpg" alt="">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Code made easy<span class="text-muted"> Learn like never
            before</span></h2>
        <p class="lead">Some things are to be learnt early and coding is one of them.</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"> <span class="text-muted">Why code for school age students</span>
        </h2>
        <p class="lead">It sharpens their mind and boosts child's memory and improves the kid's overall mentality</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img style="height:300px;width:300px;border-radius:100%" src="https://www.tulsakids.com/content/uploads/data-import/07b6cf51/Screen20Shot202016-03-2820at2010354620AM.png" alt="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <img style="height:300px;width:300px;border-radius:100%" src="https://idsb.tmgrup.com.tr/ly/uploads/images/2022/08/22/226382.jpg" alt="">

      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Best platform for kids to code <span class="text-muted">Enhanced
            Learning</span></h2>
        <p class="lead">The best platform for school age students to learn and practice coding, Improve your child's
          thinking capacity like anything!</p>
      </div>

    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"> <span class="text-muted">How to code</span></h2>
        <p class="lead">Use this platform based learning website to help master coding, just use the platform
          diligently!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img style="height:300px;width:300px;border-radius:100%" src="https://cms-assets.themuse.com/media/lead/01212022-1047259374-coding-classes_scanrail.jpg" alt="">

      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <img style="height:300px;width:300px;border-radius:100%" src="https://2018media.idtech.com/images/opl-photo-mom-daughter-learning.jpg?feb6734314" alt="">

      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Parent <span class="text-muted">User Friendly website</span></h2>
        <p class="lead">It has never been this easier for parents to help their children master coding and help them
          boost their memory!</p>
      </div>

    </div>

    <hr class="featurette-divider">
  <div class="cardsx">

    <div class="row">
            <div class="col-lg-4">
              <img src="/c.png" alt="c image">

              <h2 class="fw-normal">C Programming</h2>
              <p>Get started in learning with C</p>
              <p><a class="btn btn-secondary" href="/c">View details
                  »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="/python.jpeg" alt="python image">

              <h2 class="fw-normal">Python </h2>
              <p>Get started in learning with python
              </p>
              <p><a class="btn btn-secondary" href="/python">View details
                  »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="/java.png" alt="java image">

              <h2 class="fw-normal">Java</h2>
              <p>Get started in learning with Java</p>
              <p><a class="btn btn-secondary" href="/java">View details
                  »</a></p>
            </div><!-- /.col-lg-4 -->
          </div>
  </div>

<%- include("partials/footer"); -%>
